<h1>My Boards</h1><br>

<ul>
  <% @boards.each do |b| %>
    <h2>
      <li><%= link_to "#{b.name}", board_path(b) %>   <%= button_to "x", board_path(b), method: "delete" %></li>
        
    </h2>
  <% end %>
</ul>

<h2>Create New Board</h2>
  <%= form_for @board do |f| %>
    <%= f.text_field :name, id: 'new-todo', placeholder: 'e.g., Projects, etc.' %><br>
    <% end %>